.contact-form {
    label {
        color: $silver;
    }


    span.wpcf7-list-item {
        margin: 0;
    }

    a {
        color: $rose;
        @include attention() {
            text-decoration: underline;
        }
    }

    p {
        margin-bottom: $spacing-unit--large;
    }

    .acceptance {
        font-style: italic;
        > label {
            text-decoration: underline;
        }
    }

    .two-cols {
        @include mq($from: tablet) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=url] {
        border: 0;
        border-bottom: rem(1px solid $black);
        padding: rem(10px);
        max-width: 100%;
    }

    input[type=file]{
        max-width: 100%;
    }

    input[type=submit]{
        background-color: transparent;
        border: none;
        color: $cornflower-blue;
        max-width: 100%;
        &:disabled {
            opacity: .5;
        }
    }

    .bootstrap-filestyle {
        padding: rem(10px 0);
        .buttonText {
            color: $cornflower-blue;
            font-style: italic;
            text-decoration: underline;
        }
        .badge {
            background-color: $cornflower-blue;
            color: $white;
            padding: rem(2px 10px);
            border-radius: rem(9px);
        }
    }

    .select-label {
        display: inline-block;
        margin-bottom: rem(10px);
    }
    .select-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
        @include mq($from: tablet) {
            width: 50%;
        }
    }
    
    .select-wrapper:before {
        content: '\f107';
        font-family: $font-icons;
        color: $black;
        display: inline-block;
        position: absolute;
        right: rem(7px);
        top: rem(2px);
        z-index: 1;
        pointer-events: none;
    }

    select {
        padding: rem(5px 30px 5px 5px);
        background: $silver;
        color: $black;
        border: none;
        appearance: none;
        border-radius: 0;
        width: 100%;
    }
    
    select::-ms-expand {
        display: none;
    }
}