.promo {
    >.wrap> *:not(:last-child) {
        margin-bottom: $spacing-unit;
    }
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 190%
    }
    h3 {
        font-size: 180%
    }
    h4 {
        font-size: 170%;
    }
    h5 {
        font-size: 160%;
    }
    h6 {
        font-size: 150%;
    }
}

.about {
    font-size: rem(20px);
    font-weight: 600;
    @include mq($from: tablet) {
        font-size: rem(25px);
    }
    @include mq($from: desktop) {
        font-size: rem(30px);
    }
}

.what {
    font-size: rem(20px);
    font-weight: 500;
    @include mq($from: tablet) {
        font-size: rem(22px);
    }
    @include mq($from: desktop) {
        font-size: rem(24px);
    }
}

.who {
    font-weight: 500;
    @include mq($from: desktop) {
        font-size: rem(18px);
    }
}

.works,
.clients,
.creators,
.careers {
    .intro {
        font-weight: 600;
        font-style: rem(20px);
        margin-bottom: $spacing-unit--large;
        @include mq($from: mobile) {
            font-size: rem(25px);
        }
        @include mq($from: desktop) {
            font-size: rem(30px);
        }
    }
}

// .careers {
//     .title {
//         margin-bottom: $spacing-unit--large;
//     }
// }